body,
button {
    font-family: "Space Grotesk", sans-serif;
}

@media screen and (min-width: 300px) {

    .container {
        width: 90%;
        margin: auto;
        padding: 20px 0px;
    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .logo img {
        width: 20px;
    }

    .logo h1 {
        font-size: 23px;
        font-weight: bold;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .menu__mobile {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }

    .menu__mobile--bar {
        width: 27px;
        height: 4px;
        background-color: black;
        border-radius: 10px;
    }

    .menu {
        display: none;
    }

    .menu li:hover {
        cursor: pointer;
        text-decoration: 2px solid underline;
        transition: all 0.3s ease-in-out;
    }

    /* HEADER SECTION */
    header {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .text__header--block {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .text__header--block h2 {
        font-size: 35px;
        font-weight: 500;
    }

    .text__header--block p {
        font-size: 14px;
    }

    .text__header--block button {
        background-color: #191A23;
        color: white;
        padding: 20px 35px;
        border-radius: 14px;
        font-size: 15px;
        border: none;
        border: 1px solid white;
    }

    .text__header--block button:hover {
        background-color: white;
        color: #191A23;
        border: 1px solid #191A23;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .header__mobile--img {
        width: 100%;
    }

    .header__img--block img {
        display: none;
    }

    .brand_logos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        filter: grayscale(100%);
        margin-top: 30px;
        height: 48px;
    }

    .services {
        margin-top: 140px;
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .services__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .services__header h2 {
        color: black;
        font-weight: 500;
        font-size: 25px;
        background-color: #B9FF66;
        border-radius: 7px;
        padding: 0px 8px;
    }

    .services__header p {
        width: 99%;
        font-size: 15px;
        text-align: center;
    }

    .services__container {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: space-between;
    }

    .services__block {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 50px;
        background-color: #f3f3f3;
        border-radius: 45px;
        justify-content: space-around;
        padding: 25px 25px;
        border: 1px solid black;
        box-shadow: 0px 5px 0px #191A23;
        height: 250px;
    }

    .services__block--left {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    .services__block--left__top{
        width: 200px;
    }

    .services__block--left__top h2,
    .services__block--left__top span {
        font-size: 25px;
        background-color: #B9FF66;
        padding: 0px 8px;
        font-weight: 500;
        border-radius: 7px;
    }

    .services__block--left__btm {
        display: flex;
        align-items: center;
        gap: 15px;
        font-size: 15px;
    }

    .icon__bg {
        background-color: #191A23;
        padding: 10px;
        display: flex;
        border-radius: 100%;
        height: 40px;
    }

    .block__green {
        background-color: #B9FF66;
    }

    .block__green .services__block--left .services__block--left__top h2,
    .block__green .services__block--left .services__block--left__top span {
        color: black;
        background-color: white;
    }

    .block__black {
        background-color: #191A23;
        color: white;
    }

    .block__black .services__block--left .services__block--left__top h2,
    .block__black .services__block--left .services__block--left__top span {
        color: black;
        background-color: white;
    }

    .block__black .services__block--left .services__block--left__btm .icon__bg {
        background-color: white;
    }

    .cta {
        width: 100%;
        margin: 60px auto;
        background-color: #F3F3F3;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        /* position: relative; */
    }

    .cta__text--block {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .cta__text--block h3 {
        font-size: 22px;
        font-weight: bold;
    }

    .cta__text--block p {
        font-size: 15px
    }

    .btn__proposal--mobile {
        background-color: #191A23;
        color: white;
        border: none;
        border-radius: 14px;
        font-size: 20px;
        width: 100%;
        height: 40px;
        border: 1px solid white;
    }

    .btn__proposal{
        display: none;
    }

    .cta__text--block button:hover {
        background-color: white;
        color: #191A23;
        border: 1px solid #191A23;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .frame{
        display: none;
    }

    .services__block--right{
        display: none;
    }

    .learn__more--container{
        width: 100%;
        background-color: #191A23;
        border-radius: 45px;
        padding: 30px;
        display: flex;
        flex: wrap;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .more__container{
        color: #F3F3F3;
        width: 280px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .learn__more--container button{
        width: 120px;
        background-color: #191A23;
        border: 0px;
        color: #B9FF66;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .learn__more--container button:hover{
        cursor: pointer;
        text-decoration: 2px solid underline;
        transition: all 0.3s ease-in-out;
    }
    
    .vl{
        display: none;
        background-color: gray;
        width: 1px;
    }
    hr{
        width: 280px;
        color: gray;
    }

}

@media screen and (min-width: 768px) {

    .text__header--block h2 {
        font-size: 44px;
    }

    .text__header--block p {
        font-size: 20px;
    }

    .text__header--block button {
        font-size: 20px;
    }

    .header__mobile--img {
        width: 70%;
        margin: auto;
    }

    .services{
        margin-top: 100px;
    }

    .services__header h2 {
        color: black;
        font-weight: 500;
        font-size: 40px;
        background-color: #B9FF66;
        border-radius: 7px;
        padding: 0px 8px;
    }

    .services__header p {
        width: 95%;
        font-size: 18px;
        text-align: center;
    }

    .services__block--right{
        display: inline;
    }

    .cta {
        gap: 5%;
    }

    .cta__text--block {
        width: 40%;
    }

    .cta__text--block h3 {
        font-size: 22px;
        font-weight: bold;
    }

    .cta__text--block p {
        font-size: 15px
    }

    .frame{
        display: inline;
        height: 254px;
    }

    .btn__proposal--mobile {
        background-color: #191A23;
        color: white;
        border: none;
        border-radius: 14px;
        font-size: 20px;
        width: 100%;
        height: 40px;
        border: 1px solid white;
    }

    .btn__proposal--mobile:hover {
        background-color: white;
        color: #191A23;
        border: 1px solid #191A23;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .cta__img--block{
        display: inline;
        width: 50%;
    }

}

@media screen and (min-width: 1000px) {
    .logo img {
        width: 30px;
    }

    .logo h1 {
        font-size: 33px;
    }

    .menu__mobile {
        display: none;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 17px;
    }

    .nav__btn {
        border: 1px solid black;
        padding: 12px 25px;
        border-radius: 14px;
        background: none;
        font-size: 15px;
    }

    header {
        margin-top: 50px;
        flex-direction: row;
    }

    .text__header--block {
        display: flex;
        gap: 35px;
        max-width: 500px;
    }

    .text__header--block h2 {
        font-size: 44px;
    }

    .text__header--block p {
        font-size: 20px;
    }

    .text__header--block button {
        font-size: 20px;
    }

    .text__header--block button {
        font-size: 18px;
        width: 50%;
    }

    .header__mobile--img {
        display: none;
    }

    .header__img--block img {
        display: block;
        width: 100%;
        height: 100%;
    }

    .services{
        margin-top: 80px;
    }

    .services__header h2 {
        color: black;
        font-weight: 500;
        font-size: 40px;
        background-color: #B9FF66;
        border-radius: 7px;
        padding: 0px 8px;
    }

    .services__header p {
        width: 90%;
        font-size: 20px;
        text-align: center;
    }

    .cta {
        width: 100%;
        margin: 60px auto;
        background-color: #F3F3F3;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px;
        padding-left: 70px;
        padding-right: 100px;
        position: relative;
    }

    .services__container {
        gap: 30px;
    }

    .services__block {
        width: 30%;
    }

    .services__block--right{
        display: none;
    }

    .learn__more--container{
        flex-direction: row;
        justify-content: space-between;
        padding: 50px;
    }
    .more__container{
        color: #F3F3F3;
        width: 27%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .learn__more--container button{
        width: 120px;
        background-color: #191A23;
        border: 0px;
        color: #B9FF66;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .vl{
        display: inline;
    }
    hr{
        display: none;
    }


}

@media screen and (min-width: 1200px) {
    .services__header {
        display: flex;
        flex-direction: row;
        text-align: left;
        gap: 30px;
    }

    .services__header h2{
        font-size: 25px;
    }

    .services__header p{
        width: 700px;
        text-align: left;
    }

    .nav__btn:hover {
        background-color: black;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .cta {
        padding-left: 100px;
        padding-right: 100px;
    }

    .cta__text--block {
        width: 50%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .cta__text--block h3 {
        font-size: 30px;
        font-weight: bold;
    }

    .cta__text--block p {
        font-size: 20px
    }

    .btn__proposal--mobile {
        display: none;
    }

    .btn__proposal{
        display: block;
        background-color: #191A23;
        color: white;
        border: none;
        border-radius: 14px;
        font-size: 20px;
        width: 100%;
        height: 40px;
        width: 300px;
        border: 1px solid white;
    }

    .btn__proposal--mobile:hover {
        background-color: white;
        color: #191A23;
        border: 1px solid #191A23;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    .frame{
        display: inline;
        height: 394px;
    }

    .services__block--left__top{
        width: 200px;
    }

    .services__block--right{
        display: inline;
    }

    .services__block {
        width: 48%;
    }
}

.consultation{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.consultation__box{
    width: 100%;
    border-radius: 45px;
    background-color: #F3F3F3;
    border: 1px solid #191A23;
    box-shadow: 0px 5px 0px #191A23;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.consultation__box:hover{
    background-color: #B9FF66;
    .img__negative{
        display: inline;
    }
    .img__positive{
        display: none;
    }
    .consultation__expand{
        display: inline;
    }
    .consultation__container{
        padding: 41px 60px 0px 60px;
    }
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.consultation__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 41px 60px 41px 60px;
    align-items: center;
}
.img__negative{
    display: none;
    height: 58px;
    width: 58px;
}
.img__positive{
    height: 58px;
    width: 58px;
}
.consultation__text{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}
.horizontal__line{
    height: 1px;
    width: 100%;
    background-color: #191A23;
}
.consultation__expand{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 60px 41px 60px;
    align-items: center;
    display: none;
}
.consultation__expand p{
    font-size: 20px;
    padding-top: 30px;
}
.consultation__text h1{
    font-size: 60px;
}
.consultation__text h3{
    font-size: 30px;
}
